body {
  margin: 0 auto;
  background: #fcfffd;
  max-width: 1980px;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #ffffffcf;
}
.content {
  display: flex;
  height: 1080px;
}

.main {
  font-family: "Roboto Slab", serif;
  width: 100%;
  background: #fcfff1;
}
.title {
  display: flex;
  justify-content: space-between;
  color: #2f3a4b;
}
.title-text {
  font-size: 44px;
  padding: 25px 0 19px 17px;
}
.title-exit {
  padding: 37px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.title-exit__text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #2f3a4b;
}
.navbar {
  box-shadow: 6px 8px 6.5px 0px #00000040;
  background-color: #fff;
  display: flex;
  gap: 63px;
  margin: 70px 586px 104px 29px;
  padding: 25px;
}
.navbar__link {
  font-size: 30px;
  color: #2f3a4b;
}
.navbar__link.active {
  text-decoration: underline;
}
.table2 {
  box-shadow: 6px 8px 6.5px 6px #00000040;
  background-color: #fff;
  font-size: 20px;
  margin: 0px 58px 74px 29px;
  text-align: left;
  min-height: 730px;
  min-width: 1350px;
}
td,
th {
  padding: 20px;
  border-bottom: 1px solid #00000066;
}
.table_btn_update,
.table_btn_create {
  border: none;
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
}

/* стили для модального окна */
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
}
.table_popup {
  margin: 0 auto;
  font-size: 30px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.create_project {
  font-size: 20px;
  font-family: Roboto;
  padding: 10px 50px;
  background-color: #fff;
  max-width: 160px;
  border: 1px solid #AFA6A6;
  margin-left: 29px;
  margin-bottom: 30px;
  cursor: pointer;

}
.find_project {
  font-size: 20px;
  font-family: Roboto;
  margin-left: 1135px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #AFA6A6;
}